pennylane
tensorflow
# torch
sklearn
# torchvision 
# torchaudio
keras


# music
librosa
simpleaudio # sudo apt-get install -y python3-dev libasound2-dev <- dependancy for system
wave

# other
tabulate

# default
ipykernel==5.5.5 # can use latest in a few weeks again
numpy
pandas
pyarrow
matplotlib
seaborn
jupyterlab
ipympl
pyarrow

# formatting
jupyterlab_code_formatter
black